# Ignore vscode shit. Fuck off.
.vscode/

# This contains the token and owner ID.
# So uh... not showing that in public, thank you.
config/base.json

# This is used for the tag command.
# You don't need this file as it's personal to the Arlo bot, it will create it if it doesn't exist.
database/tag.json

# Not really needed, I have this for any webhooks I want to create with the same profile picture.
assets

################################################################################################
# The following was taken from the gitignore repo so we don't have clutter in the repo itself. #
################################################################################################
# Dependency directories
node_modules/

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
